<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=citadels.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <services>
      <service name="Service.GameService"
               behaviorConfiguration="Default">
        <endpoint address=""
                  binding="wsDualHttpBinding"
                  contract="Service.IGameService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/GameService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Service.DuplexService"
               behaviorConfiguration="Default">
        <endpoint address=""
                  binding="wsDualHttpBinding"
                  contract="Service.IDuplexService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/DuplexService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>